<section class="vh-100" >
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

    <div class="card shadow-2-strong" style="border-radius: 1rem;background: linear-gradient(to right, #0c004d, #0d0022,#34004d);">
        <div class="card-body p-5">
<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre" style="color: white;">Nueva Skill</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="porcentaje" style="color: white;">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
        </div>
        <button class="btn btn-dark">
            Agregar Skill
        </button>
      </form>
    </div>
  </div>
</div>
        </div>
    </div>
    </div>
    </div>
  </div>
</section>
