<div class="row">
    <div class="col-lg-12 col-sm-2 col-md-2">
      <button type="button" class="btn btn-secondary" routerLink="/editacercade/1" *ngIf="isLogged" style="color: white;">
        Editar Perfil</button>
    </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="background: #0c004d">
            <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="background: #0c004d">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p style="color: white;">Full Stack Developer Jr</p>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-2 col-lg-8">
            <span>
                <h1 style="color: white;">Acerca de mi</h1>
                    <p style="color: white;">{{persona.descripcion}}</p>
            </span>
        </div>
</div>
